<!DOCTYPE html>
<html>
<head>
  <title>Groupcontinue</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if user_signed_in? %>
    <%= render 'layouts/header_login' %>
  <% else %>
    <%= render 'layouts/header_not_login' %>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <main>
    <%= yield %>
  </main>
</body>
</html>
